<!-- Task-3 -->
<!-- 
 <div> Name:{{book1.Name}}</div>
     <div>   Author: {{book1.Author}}</div>
      <div>  Price:{{book1.Price}}</div>
      <div>  Paperback: {{book1.Paperback}}</div>
      <div>  Publisher:{{book1.Publisher}}</div>
      <div>  Language:{{book1.Language}}</div>
      <div>  ISBN10:{{book1.ISBN10}}</div>
     <div>   ISBN13:{{book1.ISBN13}}</div>
      <div>  <img [src] = "book1.thumbnails"></div>

<!-- Task-4 -->
<!-- <div class="col-sm-4 book-card">
  <img class="thumbnail" [src] = "book1.thumbnails" [alt] = "book1.Name">
  <div class ="book-info"> 
    <h4>
      {{book1.Name}}
    </h4>
    <h5>
        Author: {{book1.Author}}<br>
        Price:{{book1.Price}}<br>
        Paperback: {{book1.Paperback}}<br>
        Publisher:{{book1.Publisher}}<br>
        Language:{{book1.Language}}<br>
        ISBN10:{{book1.ISBN10}}<br>
        ISBN13:{{book1.ISBN13}}
    </h5>
  </div>
</div>

<div class="col-sm-4 book-card">
    <img class="thumbnail" [src] = "book2.thumbnails" [alt] = "book2.Name ">
    <div class ="book-info"> 
      <h4>
        {{book2.Name}}
      </h4>
      <h5>
          Author: {{book2.Author}}<br>
          Price:{{book2.Price}}<br>
          Paperback: {{book2.Paperback}}<br>
          Publisher:{{book2.Publisher}}<br>
          Language:{{book2.Language}}<br>
          ISBN10:{{book2.ISBN10}}<br>
          ISBN13:{{book2.ISBN13}}
      </h5>
    </div>
  </div> -->

<!-- Task-5 -->
<div class="col-sm-4 book-card">
    <img class="thumbnail" [src] = "book.thumbnails" [alt] = "book.Name">
    <div class ="book-info"> 
      <h4>
        {{book.Name}}
      </h4>
      <h5>
          Author: {{book.Author}}<br>
          Price:{{book.Price}}<br>
          Paperback: {{book.Paperback}}<br>
          Publisher:{{book.Publisher}}<br>
          Language:{{book.Language}}<br>
          ISBN10:{{book.ISBN10}}<br>
          ISBN13:{{book.ISBN13}}
      </h5>
    </div>
  </div>